:root {
  --green: #069d06;
  --red: #b20c30;
  --light-red: rgba(178, 12, 48, 0.1568627451);
  --yellow: #ff9900;
  --light-gray: #f2f2f2;
  --gray: #9a9595;
  --dark-gray: rgb(51, 51, 51);
}

/**/
/**/
.--green-button {
  background-color: transparent;
  color: var(--green);
  border: 2px solid var(--green);
  transition: ease-in-out 0.35s;
}
.--green-button:hover {
  background-color: var(--green);
  color: white;
}

.--red-button {
  background-color: transparent;
  color: var(--red);
  border: 2px solid var(--red);
  transition: ease-in-out 0.35s;
}
.--red-button:hover {
  background-color: var(--red);
  color: white;
}

.--yellow-button {
  background-color: transparent;
  color: var(--yellow);
  border: 2px solid var(--yellow);
  transition: ease-in-out 0.35s;
}
.--yellow-button:hover {
  background-color: var(--yellow);
  color: white;
}

/**/
/**/
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**/
/**/
/**/
/**/
div.default-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 56px;
}
div.default-button-container button,
div.default-button-container a {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: light;
  text-align: center;
  position: relative;
}
div.default-button-container button:hover,
div.default-button-container a:hover {
  color: white;
}
div.default-button-container button.--pre-loading,
div.default-button-container a.--pre-loading {
  pointer-events: none;
}
div.default-button-container button.--loading,
div.default-button-container a.--loading {
  color: var(--gray);
  border: solid 2px var(--gray);
  pointer-events: none;
}
div.default-button-container button.--loading:hover,
div.default-button-container a.--loading:hover {
  background-color: transparent;
}
div.default-button-container button.--loading span.default-button__loading,
div.default-button-container a.--loading span.default-button__loading {
  display: inline-block;
}
div.default-button-container button span.default-button__loading,
div.default-button-container a span.default-button__loading {
  display: none;
  animation: spinner 1s forwards linear infinite;
}
div.default-button-container button span.default-button__loading i,
div.default-button-container a span.default-button__loading i {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1300px) {
  div.default-button-container {
    margin-top: 72px;
  }
}
/**/
/**/
a.default-icon-button,
button.default-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  font-size: 18px;
  text-align: left;
  transition: ease-in-out 0.35s;
}
a.default-icon-button:hover,
button.default-icon-button:hover {
  color: var(--red);
}

/**/
/**/
div.pill-icon-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
div.pill-icon-button-container a,
div.pill-icon-button-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  font-size: 18px;
  text-align: left;
  transition: ease-in-out 0.35s;
  border-radius: 80px;
  padding: 16px 24px;
  border: 2px solid var(--red);
  color: var(--red);
}
div.pill-icon-button-container a:hover,
div.pill-icon-button-container button:hover {
  background-color: var(--red);
  color: white;
}

/**/
/**/
form.default-form > div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
form.default-form > div:first-of-type div.default-form__make-row {
  display: flex;
  flex-direction: column;
}
form.default-form > div:last-of-type {
  display: flex;
  justify-content: center;
}
form.default-form > div:last-of-type div {
  width: 100%;
  max-width: 400px;
}

@media (min-width: 900px) {
  form.default-form > div:first-of-type div.default-form__make-row {
    flex-direction: row;
    gap: 16px;
  }
}
/**/
/**/
div.default-form__input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
div.default-form__input-container label {
  margin-left: 8px;
  font-size: 16px;
}
div.default-form__input-container > div {
  width: 100%;
}
div.default-form__input-container > div.--show-error span.default-input__error-message {
  filter: opacity(100%);
}
div.default-form__input-container > div.--show-error input,
div.default-form__input-container > div.--show-error textarea {
  border: 1px solid red;
}
div.default-form__input-container > div.--show-error input::placeholder,
div.default-form__input-container > div.--show-error textarea::placeholder {
  color: red;
}
div.default-form__input-container > div > div {
  position: relative;
}
div.default-form__input-container > div > div input,
div.default-form__input-container > div > div button.default-form__input-container__pseudo-select,
div.default-form__input-container > div > div textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  border-radius: 8px;
  border: 1px solid var(--gray);
  padding: 16px;
  font-size: 16px;
  padding: 16px;
  background-color: white;
}
div.default-form__input-container > div > div button.default-form__input-container__pseudo-select {
  padding: 0px;
  text-align: left;
  position: relative;
}
div.default-form__input-container > div > div button.default-form__input-container__pseudo-select > option.default-form__input-container__pseudo-select__pseudo_option {
  pointer-events: none;
}
div.default-form__input-container > div > div button.default-form__input-container__pseudo-select option.default-form__input-container__pseudo-select__pseudo_option {
  width: 100%;
  padding: 16px;
}
div.default-form__input-container > div > div button.default-form__input-container__pseudo-select > div:last-of-type {
  z-index: 2;
  display: none;
  width: calc(100% + 2px);
  background-color: white;
  border-radius: 0px 0px 8px 8px;
  border: 1px solid var(--gray);
  border-top: 1px solid transparent;
  overflow: hidden;
  transform: translate(-50%, -8px);
  position: absolute;
  top: 100%;
  left: 50%;
}
div.default-form__input-container > div > div button.default-form__input-container__pseudo-select > div:last-of-type.--on {
  display: initial;
}
div.default-form__input-container > div > div button.default-form__input-container__pseudo-select > div:last-of-type option.default-form__input-container__pseudo-select__pseudo_option {
  transition: ease-in-out 0.35s;
}
div.default-form__input-container > div > div button.default-form__input-container__pseudo-select > div:last-of-type option.default-form__input-container__pseudo-select__pseudo_option:hover {
  background-color: var(--light-red);
}
div.default-form__input-container > div > div textarea {
  width: 120px;
  min-height: 120px;
  max-height: 220px;
}
div.default-form__input-container > div > div span,
div.default-form__input-container > div > div button:not(button.default-form__input-container__pseudo-select) {
  height: 80%;
  padding: 12px;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 8px;
  position: absolute;
  top: 45%;
  right: 3px;
}
div.default-form__input-container > div > div span i,
div.default-form__input-container > div > div button:not(button.default-form__input-container__pseudo-select) i {
  font-size: 20px;
}
div.default-form__input-container > div > div button:not(button.default-form__input-container__pseudo-select) i {
  color: var(--gray);
}
div.default-form__input-container > div > div span {
  pointer-events: none;
  cursor: pointer;
  transition: ease-in-out;
}
div.default-form__input-container > div > div span i {
  color: var(--red);
}
div.default-form__input-container > div span.default-input__error-message {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 12px;
  font-size: 14px;
  color: red;
  filter: opacity(0%);
  transition: ease-in-out 0.35s;
}
div.default-form__input-container > div span.default-input__error-message i {
  font-style: normal;
}
div.default-form__input-container span.default-input__error-message {
  margin-left: 8px;
}

/**/
/**/
div.default-form__button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 32px;
}
div.default-form__button-container button,
div.default-form__button-container a {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: light;
  text-align: center;
  position: relative;
}
div.default-form__button-container button:hover,
div.default-form__button-container a:hover {
  color: white;
}
div.default-form__button-container button.--pre-loading,
div.default-form__button-container a.--pre-loading {
  pointer-events: none;
}
div.default-form__button-container button.--loading,
div.default-form__button-container a.--loading {
  color: var(--gray);
  border: solid 2px var(--gray);
  pointer-events: none;
}
div.default-form__button-container button.--loading:hover,
div.default-form__button-container a.--loading:hover {
  background-color: transparent;
}
div.default-form__button-container button.--loading span.default-button__loading,
div.default-form__button-container a.--loading span.default-button__loading {
  display: inline-block;
}
div.default-form__button-container button span.default-button__loading,
div.default-form__button-container a span.default-button__loading {
  display: none;
  animation: spinner 1s forwards linear infinite;
}
div.default-form__button-container button span.default-button__loading i,
div.default-form__button-container a span.default-button__loading i {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**/
/**/
input.pill-input {
  font-size: 18px;
  padding: 16px 24px;
  width: 100%;
  border-radius: 80px;
  border: 2px solid var(--gray);
}

/**/
/**/
div.default-alerts-container {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 8px;
  width: 100%;
  position: fixed;
}
div.default-alerts-container > div.default-alerts-container__alert-container {
  width: 100%;
  max-width: 400px;
  background-color: var(--light-gray);
  border-radius: 8px;
  margin-bottom: 8px;
  filter: opacity(0%);
  overflow: hidden;
  transition: ease-in-out 0.7s;
}
div.default-alerts-container > div.default-alerts-container__alert-container.--on {
  filter: opacity(100%);
}
div.default-alerts-container > div.default-alerts-container__alert-container.--remove {
  margin-bottom: 0px;
  height: 0px !important;
}
div.default-alerts-container > div.default-alerts-container__alert-container.--success p.default-alerts-container__alert-container__icon {
  color: var(--green);
}
div.default-alerts-container > div.default-alerts-container__alert-container.--warning p.default-alerts-container__alert-container__icon {
  color: red;
}
div.default-alerts-container > div.default-alerts-container__alert-container > div {
  padding: 34px;
}
div.default-alerts-container > div.default-alerts-container__alert-container > div > div {
  text-align: center;
}
div.default-alerts-container > div.default-alerts-container__alert-container > div > div > p:first-of-type {
  font-size: 32px;
}
div.default-alerts-container > div.default-alerts-container__alert-container > div > div > p i {
  font-style: normal;
}

/*# sourceMappingURL=styles.css.map */
