aside.aside-menu {
	max-width: 300px;
	min-width: 300px;
	background-color: white;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;

	& > div {
		display: flex;
		flex-direction: column;
		padding: 48px 36px;
		min-height: 600px;
		height: 100%;
		gap: 40px;

		& > div:first-of-type {
			display: flex;
			flex-direction: column;
			gap: 8px;
			text-align: center;
			
			& > p:first-of-type {
				color: var(--red);
				font-size: 40px;
			}

			& > p:last-of-type {
				font-size: 32px;
			}
		}

		& > div:nth-of-type(2) {
			background-color: white;

			ul {
				display: flex;
				flex-direction: column;
				gap: 28px;

				li {
					button {
						&.--on {
							color: var(--red);
						}

						justify-content: left;
					}
				}
			}
		}

		& > div:last-of-type {
			display: flex;
			align-items: end;
			justify-content: center;
			height: 100%;
		}
	}
}
