div.aside-menu-container {
	&.--on {
		background-color: rgba(0, 0, 0, 0.4);
		pointer-events: all;

		aside {
			transform: translateX(0%);
		}
	}

	z-index: 3;
	display: flex;
	width: 100%;
	height: 100vh;
	background-color: transparent;
	pointer-events: none;
	transition: ease-in-out 0.35s;
	position: fixed;

	aside {
		transform: translateX(-100%);
		transition: ease-in-out 0.35s;
	}

	& > button {
		width: 100%;
	}
}

@media (min-width: 1200px) {
	div.aside-menu-container {
		display: none;
	}
}

/**/
/**/

div.dashboard-system-container {
	display: flex;
}

div.dashboard-system-container__aside-menu-container {
	display: none;
}

@media (min-width: 1200px) {
	div.dashboard-system-container__aside-menu-container {
		display: initial;
	}
}

/**/
/**/

aside.aside-menu {
	max-width: 300px;
	min-width: 300px;
	height: 100vh;
	background-color: white;
	overflow-y: scroll;

	& > div {
		display: flex;
		flex-direction: column;
		padding: 48px 36px;
		min-height: 600px;
		height: 100%;
		gap: 40px;

		& > div:first-of-type {
			display: flex;
			flex-direction: column;
			gap: 8px;
			text-align: center;
			
			& > p:first-of-type {
				color: var(--red);
				font-size: 40px;
			}

			& > p:last-of-type {
				font-size: 32px;
			}
		}

		& > div:nth-of-type(2) {
			background-color: white;

			ul {
				display: flex;
				flex-direction: column;
				gap: 28px;

				li {
					button {
						&.--on {
							color: var(--red);
						}

						justify-content: left;
					}
				}
			}
		}

		& > div:last-of-type {
			display: flex;
			align-items: end;
			justify-content: center;
			height: 100%;
		}
	}
}
