div.default-panel-container {
      display: flex;
      flex-direction: column;
      gap: 60px;
      padding-top: 180px;
      padding-bottom: 160px;
      height: 100vh;
      overflow: scroll;
      background-color: var(--light-gray);

      & > div:first-of-type {
            text-align: center;
      }
}

@media (min-width: 1200px) {
      div.default-panel-container {
            padding-top: 80px;
            padding-bottom: 80px;

            & > div:first-of-type {
                  text-align: left;
            }
      }
}

/**/
/**/

button.panel-content__download-csv-button {
      display: flex;
      align-items: center;
      gap: 8px;
      white-space: nowrap;
      width: min-content;
      padding-top: 8px;
      font-size: 18px;

      i {
            color: var(--red);
      }
}